<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.juhonkoti.sharetobrowser"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SendDoneActivity"
            android:exported="false"
            android:label="@string/title_activity_send_done" >
        </activity>
        <activity
            android:name=".ScanQRCodeActivity"
            android:exported="false"
            android:label="@string/title_activity_scan_qrcode" >
        </activity>
        <activity
            android:name=".ShareToBrowser"
            android:label="@string/title_activity_share_to_browser" >
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT" />
            	<data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

</manifest>